@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.lBlue{
  background-color: #cceafe;
}

.cayan{
  background-color: #a7dafe;
}

.blue{
  background-color: #0496FD;
}
.red{
  background-color: #AD3352;
}

.leftPadding8em{
  padding-left: 8em;
}
.leftPadding2em{
  padding-left: 2em;
}
.topPadding1em{
  padding-top: 1em;
}