<div class="container">
  <h1>UnHealthy Food Machine</h1>
  <form name="myForm">
    <table class="table table-bordered">
      <thead>
      <tr class="btn-default">
        <th>Item Code</th>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
      </tr>
      </thead>
      <tbody ng-repeat="product in vendCtrl.products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stock}}</td>
      <td>
        <button ng-click="vendCtrl.refreshItem($index)">Refresh Item</button><span us-spinner="{radius:30, width:8, length: 16}" spinner-on="vendCtrl.showSpinner" spinner-key="spinner-1"></span>
      </td>
      </tbody>
    </table>
    <button style="margin-left: 63em;" ng-click="vendCtrl.refreshAllItem()">Refresh All Items</button><span us-spinner="{radius:30, width:8, length: 16}" spinner-on="vendCtrl.showSpinner"></span>
  </form><p>Please note this machine does not give change</p>
  <p> The machine can only accept 50 cent, R 1, R 2, or R 5 </p>
  <input type="number" placeholder="INSERT COINS" ng-change="vendCtrl.getAmount(vendCtrl.amount)"
         ng-model="vendCtrl.amount" required> Total amount inserted <span class="lBlue alert-danger"
                                                                          id="currency-default">{{vendCtrl.totalAmount | currency : "R" : 2}}</span></input>
  <div ng-show="vendCtrl.message">{{vendCtrl.message}}</div>

  <div ng-show="vendCtrl.amount !== undefined && vendCtrl.message === undefined" class="topPadding1em">
    <input type="number" placeholder="Enter Item Code " ng-model="vendCtrl.itemCode" required> Item Code</input>
    <button class="btn btn-info" type="button" ng-click="vendCtrl.validateItem(vendCtrl.itemCode)">Confirm</button>
  </div>
  <div ng-show="vendCtrl.itemMessage">{{vendCtrl.itemMessage}}</div>
  <div ng-show="vendCtrl.moneyReturned">{{vendCtrl.moneyReturned}}</div>
</div>
